* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main-text-color: seashell;
  --main-bg-color: black;
  --full-width: 100%;
  --headerH: 80px;
}

html {
  scroll-padding-top: var(--headerH);
}

/* MAIN STYLES */

body {
  font-family: Helvetica, sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  width: 100%;
  text-align: center;
  opacity: 0.9;
  margin: 0;
  font-size: 22px;
}

.opacity {
  opacity: 0.5;
}

h2,
h3,
h4,
h5,
p {
  padding: 0.7rem 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* NAVIGATION */

.header {
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  background-color: var(--main-bg-color);
  width: var(--full-width);
}

.nav-header {
  height: var(--headerH);
  width: var(--full-width);
}

.logo {
  max-height: 10vh;
  padding-left: 1rem;
}

.nav-toggle {
  margin-right: 1rem;
}

.nav-links {
  width: var(--full-width);
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.link {
  display: block;
  padding: 1rem;
  font-size: 1.5em;
}

.link a {
  text-decoration: none;
  color: var(--main-text-color);
}

.show-links {
  height: 240px;
}
/* MAIN SECTION */

.main {
  padding-top: var(--headerH);
}

/* MISSION SECTION */

#mission {
  min-height: 70vh;
  background-image: url('./images/img-mission-background.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.mission-content {
  width: 80vw;
  justify-content: center;
  background-color: var(--main-bg-color);
  padding: 2rem 1.2rem;
  outline: 2px solid seashell;
  outline-offset: -15px;
  font-size: 0.8em;
}

/* TEA OF THE MONTH */

#tea-of-the-month {
  flex-direction: column;
  margin: auto;
}

.items {
  flex-direction: column;
}

.item img {
  max-height: 50vh;
  max-width: 70vw;
}

/* LOCATIONS SECTION */

#locations {
  margin-top: 1rem;
  background-image: url('./images/img-locations-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-flow: column;
}

#locations h2 {
  color: black;
  padding-top: 2rem;
}

.location {
  text-align: center;
  padding-bottom: 1rem;
  height: auto;
}

.address {
  flex-flow: column;
  max-width: 80%;
  background: black;
  margin: 1em auto;
  padding: 1em 0;
}
